apiVersion: v1
kind: Secret
metadata:
  name: thanos-object-storage
  namespace: {{ mco_namespace }}
type: Opaque
stringData:
  thanos.yaml: |
    type: s3
    config:
      bucket: {{ minio_bucket_name }}
      endpoint: {{ minio_endpoint | regex_replace('^https?://', '') }}
      access_key: {{ minio_access_key }}
      secret_key: {{ minio_secret_key }}
      insecure: true
