apiVersion: v1
kind: Secret
metadata:
  name: pull-secret
  namespace: {{ clustertemplate_namespace }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: "{{ pull_secret_info.resources[0].data['.dockerconfigjson'] }}"
